.listBox
	margin: 50px 0 0 0;
	ul
		padding: 0;
		margin: 0;
		.liList
			list-style-type: none;
			border: 1px solid #ccc;
			padding: .8rem 10px;
			margin: 1.5rem auto;
			text-align: center;
.rwd-grid
	display: grid;
	grid-gap: 5px;
	width: 100%;
	grid-template-areas: "header header header"
	"left   top     right"
	"left   bottom  right"
	".      bottom  right"
	".      bottom      ."
	"footer footer footer";
	grid-template-rows: 80px 150px 50px 100px 100px 100px;
	grid-template-columns: 20% 60% 20%;	

.rwd-header {
  grid-area: header;
}
.rwd-content-left {
  grid-area: left;
}
.rwd-content-bodyTop {
  grid-area: top;
}
.rwd-content-bodyBottom {
  grid-area: bottom;
}
.rwd-content-right {
  grid-area: right;
}
.rwd-footer {
  grid-area: footer;
}
.navMid
	padding: 5px;
	display: flex;
	a
		width: 50%;
		height: 35px;
		line-height: 35px;
		text-align: center;
		display: block;
		flex: 3;
		text-decoration: none;
		color: #000;
		border-bottom: 1px solid #ccc;
	span 
		flex: 1;
		