.header
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	height: 45px;
	font-size: .34rem;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #35495e;
	user-select: none;
	z-index: 99;
	.back
		background: url('../../assets/images/back.png');
		background-size: cover;
		width: 25px;
		height: 20px;
		position: absolute;
		top: 13px;
		left: 10px;